# Modules privés
Modules/Dev/
Modules/Fintech/
Modules/Telecom/

# Migrations liées aux modules privés
Migrations/20260321121030_AddFintechTables.cs
Migrations/20260321121030_AddFintechTables.Designer.cs

# Node
ttm-backend/

# Build
bin/
obj/

# Config sensible
appsettings.Development.json
.env
.env.local

# IDE
.idea/
.vs/
*.user

# Fichiers privés
Controllers/
Migrations/
Properties/
*.http