# Modules privés
Modules/Dev/
Modules/Fintech/
Modules/Telecom/

# Migrations (toutes — contiennent des données privées)
Migrations/

# Fichiers de configuration privés
appsettings.Development.json
.env
.env.local

# Fichiers locaux inutiles
Controllers/
Properties/
*.http
ttm-backend/

# Build
bin/
obj/

# IDE
.idea/
.vs/
*.user